<!--APP_COMPONENT-->
<app-addpoduct 
(mytodoadd)="myword($event)"
(update)="updateData($event)"
 [up_ad]=(change)
[proNamee]=(proname)
[proiid]=(proiid)
></app-addpoduct>
<!--APP_COMPONENT_END-->


<!--SHOW_DATA_OF_ARRAY_-->
<h1 class="status"> {{available}} {{books}}</h1>
<div id="show_data">
  <p>{{id}}</p>
  <p>{{names}}</p>
</div>
<!--SHOW_DATA_OF_ARRAY_END*-->


<!--ARRAY_TABLE-->
<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
          <th>S/no</th>
            <th>BOOK</th>
            <th>AUTHOR</th>
            <th>DATE</th>
            <th>STATUS</th>
            <th>DELETE/UPDATE</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of mycrud; index as i">
          <td>{{i+1}}</td>
            <td>{{todo.proId}}</td>
            <td>{{todo.proName}}</td>
            <td>{{todo.proDates | date:'short'}}</td>
            <td><button (click)="status(i)">{{todo.prostatus}}</button></td>
            <td>
              <button style="background: red;" (click)="Deletesbuton(i)">Delete</button>
              <button (click)="edit(i)">Update</button>
              <td>
            </tr>
        <tbody>
    </table>
</div>
<!--ARRAY_TABLE_END-->
